.content {
  color: #ffffff;

  .derbyValue, .dracoValue {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  .derbyValue {
    position: relative;
  }

  .derbyValue::after {
    content: "DS";
    position: absolute;
    margin-left: 0.25rem;
    font-size: 1rem;
    top: 0.25rem;
  }

  .date {
    
    span { 
      display: block;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 720px){
  .content {
    

    .derbyValue, .dracoValue {
      font-size: 1.5rem;
    }

    .derbyValue::after {
      top: 0.1rem;
      font-size: 0.75rem;
    }

    .date {
      span {
        font-size: 1rem;
      }
    }
  }
}