.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  z-index: 2;
  
  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background-image: url('../public/main-bg.webp');
    background-position: center center;
    background-size: cover;
    filter: brightness(.6);
    z-index: -2;
  }
}